.cover {
    position: absolute;
    /* display: block; */
    width: 100%;
    height: 100%;
    background: url(https://placehold.co/1920x990/f60/31343C?text=Spotlight) center center no-repeat;
    /* background-color: red; */
    background-size: cover;
    filter: blur(2px);
    /* content: 'jjjj';
    color: black; */
}
/* .cover:before {
    遮罩
    content: '';
    display: block;
    position: absolute;
    background-color: gray;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .4;
} */

.musicBox {
    /* background-color: #fff;
    border: 10px solid blue; */
    width: 360px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: 16px;
    /* color: #f06d6a; */
    /* box-shadow: 4px 6px 3px 2px rgba(0, 0, 0, .1), 4px 6px 3px 2px rgba(0, 0, 0, .8); */
}

.music-panel {
    border: 2px solid #76dba3;
    padding: 20px 15px 5px 15px;
    box-shadow: 4px 6px 3px 2px rgba(0, 0, 0, .1), 4px 6px 3px 2px rgba(0, 0, 0, .8);
    background-color: rgba(255, 255, 255, .9);
    position: relative;
    z-index: 2;
}

.musicBox .control {
    margin: 20px 0 5px 0;
    word-spacing: -15px;  /* 方法一「清除两个span标签之间的空格」 */
    color: #ee8a87;
    float: left;
}

.musicBox .control span {
    font-size: 30px;
}

.musicBox .control .fa {
    /* font-size: 30px; */
    margin-right: 30px;
    cursor: pointer;
}
.musicBox .control .fa-play {
    width: 25.72px;   /* 让播放图标跟暂停图标宽度保持一致 */
}
/* .musicBox .control .fa.disable {
    opacity: 0.3;
} */

.musicBox .info {
    /* margin-top: 0px; */
    margin-left: 120px;
}

.musicBox .info .title {
    font-size: 24px;
}

.musicBox .info .auther {
    margin-top: 5px;
    padding-left: 40px;
    /* font-size: 14px; */
}

/* .musicBox .progress {
    width: 260px;
    float: left;
} */

.musicBox .progress .bar {
    width: 260px;
    height: 10px;
    margin-top: 4px;
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
    float: left;
}

.musicBox .progress .progress-now {
    height: 10px;
    background-color: #ee8a87;
    width: 0;
    position: relative;
    /* 「这里为什么要设置relative？」 */
}

.musicBox .time {
    float: right;
    /* font-size: 20px; */
}
/* .musicBox .time {
    margin-left: 260px;
    text-align: right;
} */

.musicBox .music::after,
.musicBox .progress::after {
    content: '';
    display: block;
    clear: both;
}

/* .musicBox .list {
    list-style: none;
} */
.musicBox .list {
    box-shadow: 4px 6px 3px 2px rgba(0, 0, 0, .6);
}
.musicBox .list>li {
    position: relative;
    padding: 4px 10px;
    border: 1px solid rgba(255, 255, 255, .8);
    border-top: none;
    overflow: hidden;
    cursor: pointer;
    /* background-color: grey; */
    /* box-shadow: 4px 6px 3px 2px rgba(0, 0, 0, .6); */
}

.musicBox .list>li:hover {
    background-color: rgba(255, 255, 255, .9);
}

.musicBox .list>li.playing:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: inline-block;
    width: 8px;
    height: 30px;
    background: rgba(255, 255, 255, .8);
}

